@import url("./colors.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--darkprimary);
}

/*  Top Bar - contains nav bar and stuff */

#top-bar {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-evenly;
}

/*  Nav bar - Acad, Dev, Chill */

#nav-bar {
  width: 10%;
  margin-left: auto;
  margin-right: 30px;

  display: flex;
  justify-content: space-between;
}

.nav-item {
  writing-mode: vertical-lr;
  text-orientation: upright;
  background-color: var(--lightsecondary);

  width: 40px;
  height: 160px;

  display: flex;
  align-items: center;

  padding-top: 20px;

  font-size: 20px;
  color: var(--lightprimary);

  cursor: pointer;

  transition: 0.1s;

  animation: 0.3s ease-out 0s 1 loadNavItems;
}

.nav-item.active {
  background-color: var(--lightprimary);
  color: #073254;
  height: 180px;
}

.nav-item:active {
  height: 200px;
  padding-top: 40px;
}

.nav-item:hover {
}

@keyframes loadNavItems {
  0% {
    transform: translateY(-160px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*  Search Box */

#search {
  height: 100px;
  margin-top: 60px;
}

.search-box {
  width: fit-content;
  height: fit-content;
}

.input-search {
  height: 50px;
  width: 600px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  padding-right: 40px;
  color: var(--lightprimary);

  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid var(--lightprimary);

  animation: 0.3s ease-out 0s 1 loadSearchBox;
}

.input-search:focus {
  border-bottom: 2px solid var(--lightprimary);
}

@keyframes loadSearchBox {
  0% {
    width: 0;
  }
  100% {
    width: 600px;
  }
}

/*  Bookmarks */

#bookmarks {
  margin-top: 100px;
  width: 95%;
  height: 65%;
}

/* Card Layout */

.card-container {
  height: 100%;
  width: 100%;

  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-container a {
  all: unset;

  cursor: pointer;

  width: 29%;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  color: var(--lightprimary);
  font-weight: bold;

  background-color: var(--lightsecondary);

  border: 1px solid transparent;
}

.card-container a:hover {
  border: 1px solid var(--lightprimary);
}

.card-container.active {
  display: flex;
}

.card-content {
}
